tatemachi_t-junction_02_branch/scenario_1/
tatemachi_t-junction_02_branch/scenario_3/
tatemachi_t-junction_02_branch/scenario_4/
tatemachi_no_signal_02_branch/scenario_1/
tatemachi_no_signal_02_branch/scenario_3/
tatemachi_no_signal_02_branch/scenario_4/
tatemachi_crossroad_02_branch/scenario_1/
tatemachi_crossroad_02_branch/scenario_3/
tatemachi_crossroad_02_branch/scenario_4/
tatemachi_both_cross_signals_02/scenario_1/
tatemachi_both_cross_signals_02/scenario_3/
tatemachi_both_cross_signals_02/scenario_4/
